    <ngb-tab title = "Favorite Locations">
      <ng-template ngbTabContent>
        <div style = "margin-top: 20px; margin-left: 25px;">
          <b>Address:</b>
          <span style="display:inline-block; width: 125px;"></span>
          <b>Name:</b>
          <form class="form-inline" #form="ngForm">
              <div class="form-group">
                <input type="text" class="form-control" id="currentLocation" name="currentLocation" (addressSelect)="setCenter($event)" placeholder="Enter Your Location"
                  appPlacesAutocomplete required [(ngModel)] = "selectedLocation"/>
                  <input type="text" class="form-control" id="nameLocation" name="nameLocation" [(ngModel)] = "favoriteName" placeholder="Set Name"/>
                  <button type = "submit" name = "favorite-location" (click) = "saveLocation()" class = "btn btn-primary" [disabled]="form.invalid">Save Location</button>
                  <button *ngIf="showFavorites" type = "submit" name = "get-favorite-locations" (click) = "getLocations()" class = "btn btn-primary" >My Locations</button>
                  <button *ngIf="!showFavorites" type = "submit" name = "hide-favorite-locations" (click) = "hideLocations()" class = "btn btn-primary" >Hide Locations</button>
              </div>
          </form>
          <br>
          <div *ngIf="!showFavorites">
            <b>Name:</b>
            <form class="form-inline">  
                <div class="form-group">
                  <input type="text" class="form-control" id="deleteLocation" name="deleteLocation"[(ngModel)] = "deleteFavorite"  placeholder="Enter Name"/>
                  <button  type = "submit" name = "delete-location" (click) = "deleteLocation()"  class = "btn btn-primary">Delete Location</button>
                </div>
            </form>
            <p><b>Tip:</b> Hover over marker to display that saved location's name.</p>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  <br>